.panel {
  width: 300px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
}

.shadowPanel {
  composes: panel;
  box-shadow: 0 0 15px #000;
}
